@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary: #d96a6a;
  --background1: #f3c9c1;
  --background2: #f4efc5;
  --dark-gray: #3d2121;
  --light-gray: #b5b5b5;
}

body {
  background-image: linear-gradient(var(--background1), var(--background2));
}
